.hero-top{
 padding-top: 10%;
}

.floating-image {
    animation: floatUpDown 1s infinite alternate ease-in-out; /* Adjust animation duration and timing function */
  }
  
  @keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-30px); /* Adjust the distance the image floats up */
    }
  }

 

  @media screen and (max-width: 500px) {
    .ss{
      line-height: 50px !important;
    }

    .floating-image {
      margin-top: 30px;
    }

    .image-dev{
      margin-bottom: 0px;
    }

    .hero {
      padding-bottom: 0px;
    }

    .mobile{
      margin-top: 55px;
    }
  }